/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */
.body {
	background-color:#FCFCFB;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}
.qunt-content {
    top:initial;
}
.qunt-sub-header{
    margin-top:0px !important;
}
.qunt-header {
    height:45px !important;
}
.bar.bar-balanced {
    height:80px ;
    background-color:#7fa046 ;
}
/*.previous-title {
    display:none !important;
}
.default-title {
    display:none !important;
}*/
/* QR screen- Ends*/
/* login screen- starts*/
.bar.bar-positive {
    /*height:80px ;*/
    background-color: #743C97;
    background-image: none;
    border-color:#743C97  !important;
}
.btn-login {
    color:#6E4390 ;
    font-weight: bold ;
    background-color: #fff ;
    border: none ;
 }

.error-container {
  /*margin: 5px 0;*/
  text-align:center;
}
 
.error-container:last-child {
    margin: 0px 0px 1px -30px;
}
 
.error {
  font-weight:bold;
  /*font-family: "Arial Black", Gadget, sans-serif;*/
  font-size: 14px;
  color: #B83E2C;
  vertical-align: middle;
}
 
.error i {
  /*font-size: 24px;*/
  color: #B83E2C;  
  vertical-align: middle;
  padding-left:90px;
}
 
.last-error-container > .error {
  padding: 10px 16px 0;
}
 
.has-errors {
  border-bottom: 3px solid #B83E2C;
}
 
.no-errors {
  border-bottom: 3px solid green;
}

/* login screen- Ends*/


/*Connect devices -starts*/
.devices-list {
	margin-top: -6px;
	padding: 80px 30px;
}
.devices-list  li{
	text-align:center;
}
.connect-butt{
	line-height: 15px;
    min-height: 24px ;
    border-radius: 26px;
    padding: 0px 16px;
    margin: 0px;
    background-color: grey ;
    font-size: 12px;
}
.details-list {
	position:absolute;
	top:180px;
	padding-left :24px;
}
.details-list2 {
	position:absolute;
	top:180px;
	padding-left :24px;
}
.details-list a ,.details-list2 a{
    color: #000;
    font-size: 12px;
}
/*Connect devices -ends*/

/*reminder screen css-starts */
.item-icon-left {
    padding-left: 21px;
}
.item-icon-left .icon {
    left: inherit; 
	color: grey;
    padding-left: 48px;
	font-size: 18px;
}
/*reminder screen css- ends*/



/*home screen css - starts */
@charset "utf-8";
.header{
	height:80px;	
}

.tbl_new thead {
    background:#f7f6f6;
}
.tbl .name, 
.tbl span {
	display:block;
	font-weight:700;
}
.tbl .gndr {
	font-weight:normal;
}

.lnk a {
    color: #2086de;
    text-decoration: none;
	font-weight:700;
}

.main_pic img {
	width:100%;
	max-width:300px;
	height:auto;
	overflow:hidden;
}
	
.desc {
	float:left;
}

.desc h3 {
	color:#212121;
	font-weight:700;
	font-size:22px;
	padding:0;
	padding-bottom:5px;
	margin:0;
}

.auth,
.amnt,
.amnt_nw {
	display:block;
}

 .auth {
	 margin-bottom:15px;
}

.amnt span,
.amnt_nw span {
	margin-left:8px;
	font-weight:700;
	font-size:16px;
}

 .amnt_nw {
	 margin-bottom:10px;
}

.amnt_nw span {
	color:#ec4444;
	font-size:18px;
}

.dec_div p {
	color:#545454;
	line-height:24px;
	}

.dec_div .green {
	color:#39983b;
	font-weight:700;
}


.dec_div .green a {
	color:#39983b;
	font-weight:700;
	text-decoration:none;
}


.dec_div .green a:hover {
	text-decoration:underline;
}
.btns {
	position:relative;
}
.btns .btn {
	display:block;
	width:100%;
	margin-bottom:10px;
}

.btns i {
	font-size:20px;
	position:absolute;
	left:40px;
}

.sec {
	margin-top:25px;
}

.sec h4 {
	color:#535353;
	font-size:22px;
	font-weight:700;
	margin:0;
	margin-bottom:20px;
	padding:0;
}


.sce_sld,
.sce_sld_two {
	border-radius:3px;
	border:solid 1px #d7d7d7;
	float:left;
	padding:25px 12px;
	width:100%;
}

.sce_sld .pic {
	margin-right:30px;
	float:left;
	height:auto;
	max-width:250px;
	width:250px;
	margin-bottom:25px;	
 }

.sce_sld_two .pic  {
	margin-right:30px;
	float:left;
	height:auto;
	margin-bottom:25px;	
	max-width:190px;
	width:190px;
}

.sce_sld .pic img,
.sce_sld_two .pic img{
 	width:100%;
	height:auto;
 }

 
.sce_sld .pic:last-of-type,
.sce_sld_two .pic:last-of-type
{
	margin-right:0;	
}


.row-custom {
    margin-right: -15px;
    margin-left: -15px;
}


#labeltech {
      position: absolute;
      right: 17px;
      float: right;
      margin-top: -135px;
      }
      .border-div {
	   margin: -1px;
	   border: solid 1px #ABABAA;
       height: 300px;
       border-bottom-color: white;
	  }
      .bg-color {;}
      .row{
      flex-wrap: none;
      margin-right: 0;
      margin-left: 0;
      }
      body {
      cursor: url('http://ionicframework.com/img/finger.png'), auto;
      }
/*home screen css- ends */

/*food entry  css - starts */
 .heading {
            height: 44px;
            background-color: #009688;
            color: #ffffff;
            text-align: center;
            line-height: 44px;
            font-size: 18px;
            font-weight: bold;
        }

        .color {
            background-color: #7fa046;
        }

        .right {
            margin-left:120px;

        }

        .rights {
            margin-left: 145px;
        }

        .down {
            margin-top: 90px;
        }
     /*.item{
	padding:12px ;
	}pls add custom classes*/
	.item-note {
    color: #000 ;	
	}

  .box{

      width:80px;
      height:30px;
      margin-left:120px
  }

/*food entry css-ends*/
/*diary entry css-starts*/

.insulintime{

    margin-left:5px;
}

.insulinunits{

    margin-left:10px;
}
.insulintype{

    margin-left:20px;
}

.insulinevent{

    margin-left:20px;
}
.insulinheader{

    color:#743C97;
}
.glucose{

    margin-left:50px;
}
.foodheader{

    color: #7fa046;
}
.foodcarbs{

    margin-left:60px;
}
.foodtype{

    margin-left:30px;
}
.adverseheader{

    color:orangered;
}

/*diary entry css-ends*/
/*reminder screen-divya*/
/*reminder screen-ends*/

        .rightInsulin {
            margin-left:90px;

        }
/*.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader{
    top:45px;
}*/