<ion-view title="Items To Complete">

    <ion-header-bar class="bar-positive qunt-header item-icon-right" align-title="center" style="background-color: #743C97;border-bottom: #7fa046;">
        <i class="button  button-clear  ion-close qunt-sub-header" ng-click="redirctback()" style="margin-top:-2px"></i>
        <h1 class="title qunt-sub-header" style="text-align:center">Items To Complete </h1>
   
    </ion-header-bar>

    <ion-content>

<ion-item style="border-top: none">
   <div style="font-size:small" ><b>There is a questionnare for you to complete.</b></div>
    <a href="" ng-click="redirctqone()" align="right" class="" style="color:#743C97;font-weight: bold;text-decoration:none;font-size:small">Complete questionnaire</a>
</ion-item>
        








    </ion-content>

   
</ion-view>